.MapTimeline {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  margin: 0 auto;
}

.MapTimeline > * {
  width: 640px;
  max-width: 640px;
  padding: 0 30px 60px;
}

.MapTimeline p {
  margin-bottom: 8px;
}