.MapTimeline {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  margin: 0 auto;
  padding: 0;
}

.MapTimeline > * {
  max-width: 100%;
  margin: 0 20px;
  overflow: hidden;
}

.MapTimeline p {
  margin: -6px 0 6px;
}

.MapTimeline .scroll-container {
  max-width: calc(100% + 40px);
  overflow-x: scroll;
  padding: 0 30px 40px;
  margin: 0 -20px -20px;
}