.ListItem {
  position: relative;
  width: 80px;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  transition: 0.3s opacity;
  cursor: pointer;
  margin: 0 0 20px;
}

.ListItem.hovered, .ListItem.selected { opacity: 1 }

.ListItem .icon {
  position: relative;
  width: 50px;
  height: 75px;
  margin: 0 auto 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.selected-indicator {
  position: absolute;
  top: 0px;
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
