.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.leaflet-map-pane, .leaflet-overlay-pane,
.leaflet-paths-pane, .leaflet-tooltip-pane,
.leaflet-marker-pane,
.leaflet-marker-icon, .map-image {
  position: absolute;
}

.leaflet-tooltip-pane { z-index: 2; }

.leaflet-map-pane, .leaflet-control-container, .leaflet-marker-pane {
  z-index: 0;
}

.leaflet-control-container {
  position: relative;
  z-index: 1;
}

.leaflet-control-zoom {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: var(--black);
  border-radius: 8px;
}

.leaflet-control-zoom > a:first-child {
  border-bottom: 1px solid var(--whiteTransparent);
}

.leaflet-control-zoom > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 34px;
}

.tooltip {
  position: absolute;
  margin: 20px -140px;
  width: 280px;
  border-radius: 8px;
  background-color: var(--black);
  overflow: hidden;
  padding: 10px 10px 20px;
}

.tooltip img {
  width: 100%;
  height: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.tooltip p {
  margin: 2px 2px 10px;
  line-height: 18px;
}

.tooltip h2 {
  margin-bottom: 6px;
}

.tooltip p.alt {
  margin: 2px;
  text-transform: capitalize;
}

.realm-toggle {
  position: absolute;
  top: 30px;
  left: calc(50% - 44px);
  background-color: var;
  width: 88px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}

.realm-toggle > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: var(--black);
  cursor: pointer;
}

.realm-toggle > .active {
  background-color: var(--white);
}

.source-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 60px;
  height: 22px;
  left: calc(50% - 30px);
}

.source-link p {
  text-align: center;
  color: var(--white);
}
