.series-tile {
  position: relative;
  width: 280px;
  height: 100%;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow);
}

.series-tile > .content-container {
  z-index: 1;
  transition: 0.3s opacity;
  background-color: transparent;
  box-shadow: none;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.details p {
  margin-top: 14px;
  margin-left: 4px;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
  transition: 0.3s opacity;
}

.hovered > .overlay, .hovered > .content-container {
  opacity: 0;
}