.MapPanel {
  position: absolute;
  top: 0;
  left: -300px;
  transition: 0.3s left;
  margin: 20px;
  max-width: 280px;
  /* overflow-y: scroll;
  overflow-x: visible; */
}

.MapPanel.open {
  left: 0px;
}

.exit {
  position: absolute;
  left: 20px;
  top: 30px;
}

.MapPanel h1 {
  margin: 10px 0 -8px;
}

.panel-control {
  cursor: pointer;
  border-radius: 8px;
  width: 64px;
  height: 40px;
  position: absolute;
  right: -36px;
  top: 30px;
  background-color: var(--black);
  transform: rotate(-90deg);
  z-index: 1;
}

.panel-control p {
  margin-top: 20px;
}
