.MapPanel {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -300px;
  transition: 0.3s left;
  margin: 20px;
  max-width: 280px;
  max-height: calc(100vh - 180px);
  overflow-y: scroll;
}

.MapPanel.open {
  left: 0px;
}

.CharacterList {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 80px;
  max-height: calc(100vh - 180px);
  overflow-y: scroll;
  opacity: 0;
  transition: 0.3s;
}

.CharacterList.visible { opacity: 1; }

.exit {
  position: absolute;
  left: 20px;
  top: 30px;
}

.MapPanel h1 {
  margin: -2px 0 -25px;
}

.panel-control {
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 64px;
  height: 40px;
  position: absolute;
  left: -30px;
  top: 50px;
  background-color: var(--black);
  transform: rotate(-90deg);
  z-index: 1;
  transition: 0.3s left;
}

.panel-control.open {
  left: 270px;
}

.panel-control p {
  margin-top: 20px;
}

.details-container {
  height: 20px;
}

.details-container {
  height: 60px;
  overflow: hidden;
  margin: -24px 0;
  opacity: 0.5;
  cursor: pointer;
}

.details-container hr {
  display: none;
}

.details-container.open {
  height: auto;
  margin: 0 0 -20px;
  opacity: 1;
}

.details-container.open hr {
  display: initial;
}

.legend-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.legend-container .indicator {
  border-top: 2px solid var(--white);
}

.legend-container .indicator.unconfirmed {
  border-top-style: dotted;
}
