.Home {
  padding: 40px;
  display: flex;
  flex-direction: column;

}

header {
  max-width: 640px;
  margin: 0 auto 40px;
}

.series-list {
  width: auto;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
}

.series-list .series-tile {
  margin: 0 10px;
}
